<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calpoly.codastjegga.cjanalyticsapp"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- device os versions http://developer.android.com/guide/publishing/versioning.html -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="edu.calpoly.codastjegga.cjanalyticsapp.CJAnalyticsApp"
        android:icon="@drawable/analytic_logo_2"
        android:label="@string/app_name" android:vmSafeMode="true" android:theme="@style/CJTheme">
        

        <!-- Service required for authentication -->
        <service
            android:name="com.salesforce.androidsdk.auth.AuthenticatorService"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Launcher screen -->
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login activity -->
        <activity
            android:name="com.salesforce.androidsdk.ui.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- Passcode activity -->
        <activity
            android:name="com.salesforce.androidsdk.ui.PasscodeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Choose server activity -->
        <activity
            android:name="com.salesforce.androidsdk.ui.ServerPickerActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.ChartActivity"
            android:label="@string/chart_name" />

        <activitiy android:name="org.achartengine.GraphicalActivity" />

        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.DashboardsActivity"
            android:label="@string/title_dashboards"
            android:parentActivityName="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.FavoriteChartsActivity"
            android:label="@string/title_favorite_charts"
            android:parentActivityName="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.RecentChartsActivity"
            android:label="@string/title_recent_charts"
            android:parentActivityName="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.codastjegga.cjanalyticsapp.MainActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.StoredChartsActivity"
            android:label="@string/title_charts"
            android:parentActivityName="edu.calpoly.codastjegga.cjanalyticsapp.DashboardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.codastjegga.cjanalyticsapp.DashboardsActivity" />
        </activity>
        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.EditActivity"
            android:label="@string/title_edit" >
        </activity>

        <provider
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.chart.settings.ChartSettingsProvider"
            android:authorities="edu.calpoly.codastjegga.cjanalyticsapp.chart.contentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="edu.calpoly.codastjegga.cjanalyticsapp.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
    </application>

</manifest>
