<%- include header.html %>  

<h2>Application credentials</h2>
<form class="form-horizontal" action="/auth/step-1" method="get">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Consumer key</label>
    <div class="controls">
      <input type="text" name="conKey" id="inputEmail" placeholder="Consumer key">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>

<p>If you're codast jegga, it's: <b>3MVG9y6x0357HlefAMuoGiOstBQg3r5rHpEodDBNQ6GIjd5Fh.RPRX4YA6Ax_sg69Jq8tpuFU76NlE0z5LTbc</b></p>

<%- include footer.html %>
